nav.app-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 2rem;
  background-color: #f8f8f8;
}

nav.app-nav > .logo {
  font-size: 1.25rem;
  font-weight: 500;
  margin: 0;
}

nav.app-nav > .nav-links {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0;
}
